<div>
  <header class="px-6 py-4 flex justify-between">
    <h1 class="text-gray-600 text-3xl">Attica Labs Angular Boilerplate</h1>

    <div class="max-w-xs relative text-gray-600 mt-2">
      <label class="input icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path
            class="fill-current text-gray-400"
            stroke-width="0"
            d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"
          />
        </svg>
        <input type="text" />
      </label>
    </div>
  </header>

  <div class="px-4 py-2 flex justify-between">
    <div class="bg-manzana p-4 skew-5deg">manzana</div>
    <div class="bg-pera p-4 skew-5deg-reverse">pera</div>
    <div class="bg-dark-blue p-4 skew-5deg">dark-blue</div>
    <div class="bg-error p-4 skew-5deg-reverse">error</div>
  </div>

  <div class="p-4">
    <mat-form-field>
      <mat-label>Choose card</mat-label>
      <mat-select>
        <mat-option *ngFor="let card of cards" [value]="card.title">
          {{ card.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="p-2">
      <label class="input mr-2">
        <input type="text" placeholder="Search..." />
      </label>
      <label class="input mr-2">
        <input type="text" class="error" placeholder="wrong input..." />
      </label>
      <label class="input labeled">
        <span class="label">http://</span>
        <input type="text" />
      </label>
    </div>
  </div>

  <div class="p-4">
    <app-alert-message
      *ngFor="let alert of alerts; index as i"
      type="{{ alert.type }}"
      message="{{ alert.message }}"
      (dismiss)="dismissAlert(alert)"
    ></app-alert-message>
  </div>

  <div class="p-4 grid grid-cols-1 sm:grid-cols-3 gap-2">
    <app-card *ngFor="let card of cards">
      <app-card-image [source]="card.imageUrl"></app-card-image>
      <app-card-content>
        <app-card-title>{{ card.title }}</app-card-title>
        <p>{{ card.text }}</p>
      </app-card-content>
      <app-card-footer>
        <app-card-tag *ngFor="let tag of card.tags">{{ tag }}</app-card-tag>
      </app-card-footer>
    </app-card>
  </div>
  <div class="p-4 float-right">
    <app-pagination></app-pagination>
  </div>
</div>
